<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dust.springbootinitial.mapper.TestMapper">

    <select id="getTestValue" resultType="String">
        select concat('Request path:', #{path}, ';parm value:', #{value}, ';UUID:', #{uuid}, ';');
    </select>

</mapper>
